:root{
    --dark-color: rgb(224, 135, 0);
    --bright-color: rgb(0, 189, 196);
    --error-color: red;
    --valid-color: green;
    --focus-color: yellow
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
}

input{
    border-radius: 6px;
    padding: 2px;
    margin: 2px;
    font-size: 1.0rem;
}

.horizontal-dividor{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

/* cosmetics left-hand side */

#picture{
    background-image: url(../img/IMG_0355.JPG);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

#logo{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
}

#logo-img{
    height: 10vh;
}

#cosmetic-footer{
    flex: 1;
    text-align: center;
}

/* form right-hand side */

#form-container{
    width: 60vw;
    background-color: var(--dark-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#form-description{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
    padding-left: 3vw;
}

#form-description p{
    margin: 40px 0 80px;
}

#form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

#signup-form{
    background-color: var(--bright-color);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3vw;
}

#form-footer{
    padding-left: 3vw;
}

#form-footer a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

#form-footer a:hover{
    color: white;
}

.form-input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1.2rem;
    text-transform: uppercase;
}


/* the message bos is shown when the user clicks on the password field */
#password-syntax-message{
    display: none;
    background: lightgray;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    width: 480px;
}

#password-syntax-message{
    padding: 10px 35px;
    font-size: 16px;
}

.form-valid{
    color: var(--valid-color);
}

.form-valid:before{
    position: relative;
    left: -35px;
}

.form-invalid{
    color: var(--error-color);
}

.form-invalid:before{
    position: relative;
    left: -35px;
}

#name-first.form-invalid, 
#name-last.form-invalid,
#email.form-invalid,
#phone-number.form-invalid, 
#password.form-invalid, 
#password-repeat.form-invalid,
#phone-number.form-invalid{
    border-color: var(--error-color);
    border-width: 4px;
}

#btn-submit{
    background-color: var(--dark-color);
    color: black;
    border-radius: 6px;
    box-shadow: 1px 1px 1px var(--dark-color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--focus-color);
    padding: 10px 40px;
    margin: 40px 0;
}

#btn-submit:hover{
    background-color: var(--dark-color);
    color: white;
}

input:focus{
    border: 4px solid var(--focus-color);
    box-shadow: 3px 3px 3px var(--dark-color);
    border-radius: 0;
}