body{

    background-color: lightsalmon;
}

.horizontal-dividor{
    display: flex;
    flex-direction: row;
}

/* cosmetics left-hand side */

.cosmetic-container{
    flex: 1;
    display: grid;
    justify-content: space-between;
    align-items: center;

}

.logo-container{
    
}

.logo-img{



    /* temporary !! */
    height: 500px;
    width: 500px;
}

.logo-text{
    
}

.cosmetic-footer{
    flex: 1;
    
}

/* form right-hand side */

.form-container{
    flex: 2;
    align-items: flex-start;
}

.form-description-text{

}

#signup-form{

}

.form-username{

}

.form-email{

}

.form-password{
    
}

#password{

}

#password-repeat{

}

/* the message bos is shown when the user clicks on the password field */
#password-syntax-message{
    display: none;
    background: lightgray;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#password-syntax-message{
    padding: 10px 35px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.password-valid{
    color: green;
}

.password-valid:before{
    position: relative;
    left: -35px;
}

.password-invalid{
    color: red;
}

#password-repeat.password-invalid{
    border-color: red;
    border-width: 4px;
}

.password-invalid:before{
    position: relative;
    left: -35px;
}

.form-submit{
    
}

#btn-submit{
    background-color: darkcyan;
    color: white;
    font-size: 24px;
}

.form-footer{
    
}